footer{
	height: 500px;
	padding: 40px;
	background: #5CC6D0;
}

.preRodape{
	width: 1200px;
	height: auto;
	margin: 30px auto;
}

.right{
	width: 45%;
	height: auto;
	display: table;
	float: right;
}

.dadosFooter{
	text-align: right;
}

.dadosFooter p{
	margin: 1em 0;
	font-size: 18px;
	color: #FEFEFE;
}


.about em{
	font-size: 18px;
	font-style: italic;
	color: #FEFEFE;
}

.espacoFoto{
	width: 10%;
	float: right;
}

.instagram{
	margin: 1em 0;
	width: 100%;
	transition: 0.2s all;
}

.instagram:hover{
	transform: scale(1.2);
}

.logoFooter{
	width: 30%;
}