main{
	background: #FEFEFE;
	padding: 0 2em;
}

.corpo{
	width: 1200px;
	margin: auto;
}

.conveniosTitulo{
	margin: 1em 0;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5CC6D0;
}

.espacoConvenio{
	width: 100%;
	margin-bottom: 1em;
}

.conveniosLista{
	font-size: 20px;
	font-weight: bold;
	border-style: none;
	border-radius: 10px;
	width: 20%;
	background: #CAF0F8;
	color: #86929A;
	margin: 1em 2em;
	padding: 1em 2em;
	display: inline-block;
}

.mapa{
	margin: auto;
	display: inline-block;
}