main{
	background: #FEFEFE;
	padding: 0 2em;
}

.corpo{
	width: 1200px;
	margin: auto;
}

.conveniosTitulo{
	margin: 1em 0;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5CC6D0;
}

.areaDosConvenios{
	width: 100%;
	margin-bottom: 1em;
}

.navegacaoConvenios li{
	width: 33%;
	display: inline-block;
}

.conveniosLista{
	font-size: 20px;
	font-weight: bold;
	border-style: none;
	border-radius: 10px;
	width: 70%;
	background: #CAF0F8;
	color: #86929A;
	margin: 1em 2em;
	padding: 1em 2em;
	transition: 0.2s all;
}

.conveniosLista:hover{
	color: #FEFEFE;
	background: #5CC6D0;
	transform: scale(1.2);
}

.areaContato{
	width: 100%;
}

.contato-left{
	display: inline-block;
	width: 45%;
}

.contato-right{
	display: inline-block;
	width: 45%;
	padding-left: 3em;
}

form label, form legend{
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #5CC6D0;
	margin: 0 0 10px;
}

.input-escrito{
	display: block;
	width: 95%;
	margin: 0 0 2em;
	padding: 10px;
}

.enviar{
	font-size: 20px;
	font-weight: bold;
	border-style: none;
	border-radius: 10px;
	width: 70%;
	background: #CAF0F8;
	color: #86929A;
	margin: 0 0 2em 1.4em;
	padding: 1em 0;
	transition: 0.2s all;
}

.enviar:hover{
	color: #FEFEFE;
	background: #5CC6D0;
	transform: scale(1.2);
}

.endereço{
	width: 100%;
	margin-bottom: 1em;
}

.endereço em{
	color: #5CC6D0;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
}

.mapa{
	margin: 0 0 1em 1em;
	display: inline-block;
}