main{
	background: #FEFEFE;
	padding: 0 2em;
}

.corpo{
	width: 1200px;
	margin: auto;
}

.conveniosTitulo{
	margin: 1em 0;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5CC6D0;
}

.areaDosConvenios{
	width: 100%;
	margin-bottom: 1em;
}

.navegacaoConvenios li{
	width: 33%;
	display: inline-block;
}

.conveniosLista{
	font-size: 20px;
	font-weight: bold;
	border-style: none;
	border-radius: 10px;
	width: 70%;
	background: #CAF0F8;
	color: #86929A;
	margin: 1em 2em;
	padding: 1em 2em;
	transition: 0.2s all;
}

.conveniosLista:hover{
	color: #FEFEFE;
	background: #5CC6D0;
	transform: scale(1.2);
}


.mapa{
	margin: auto;
	display: inline-block;
}